#parent3
{
    height: 48%;
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 7px ;
    background-color: #B4AFAF;
    color: white;
    text-align: center;
    font-weight: bold;
}
#parent3:hover{
    background-color: #918a8a;
}